body {
	background-color: black;
	margin: 0, auto;
}
header {
	background-color: black;
	/*border: solid;
	border-color: green;*/
	height: 7.5vw;
	width: 99%;
	text-align: right;
	color: white;
}
header h1{
	text-align: left;
	font-family: "Ariel", sans-serif;
	font-size: 4.5vw;
	font-weight: 100;
	letter-spacing: 2vw;
	margin-left: 2.5vw;
	margin-top: .5vw;
}
.subheader {
	font-size: 1vw;
	font-weight: 200;
	font-family: "Ariel", sans-serif;
	color: white;
	letter-spacing: .6vw;
	margin-left: 5vw;
	margin-top: -2.75vw;
	text-align: left;
	display: block;
}
header a{
	float: right;
	margin-right: 1vw;
	margin-top: -7vw;
}
nav {
	background-color: black;
	margin-left: 1vw;
	top: 10vw;
	width: 10vw;
	margin-right: 3vw;
	font-size: 3vw;
	border-bottom:groove;
	border-left:groove;
	border-right:groove;
	border-color: darkslategrey;
	position: fixed;
	text-align: center;
}
nav ul{
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	margin-bottom: 0;
}
.sidebarlink {
	font-size: 2vw;
	color: white;
	border-top: groove;
	border-color: darkslategrey;
	display: block;
	background-color: darkslategrey;
	padding-top: .5vw;
	padding-bottom: .5vw;
}
.sidebarlink:link {
	text-decoration: none;
}
.sidebarlink:hover {
	margin: .1vw;
}
.face {
	float: right;
	height: 25vw;
	margin-top: 3vw;
	margin-right: 10vw;
}
.home-body {
	color: white;
	float: right;
	width: 40vw;
	margin-right: 2vw;
	margin-top: 3vw;
	font-size: 1.6vw;
	display: inline-block;
}
.page-title {
	font-size: 4vw;
	text-align: center;
	color: white;
}
.social-links{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
}
.social-links ul{
	padding-left: 0;
	line-height: 4vw;
}
.social-links a{
	list-style: none;
	color: white;
	text-align: center;
	font-size: 2.5vw;
}
.social-links a:link{
	text-decoration: none;
}
footer {
	text-align: bottom;
	position: absolute;
}
