body {
	background-color: white;
	margin: 0, auto;
}
header {
	background-color: black;
	border: solid;
	border-color: green;
	height: 7.5vw;
	width: 99%;
	text-align: right;
	color: white;
}
header h1{
	text-align: left;
	font-size: 4.5vw;
	font-weight: 100;
	letter-spacing: 2vw;
	margin-left: 2.5vw;
	margin-top: .5vw;
}
.subheader {
	font-size: 1vw;
	font-weight: 200;
	font-family: "Ariel", sans-serif;
	color: darkgrey;
	/*width: 20%;*/
	margin-left: 5vw;
	margin-top: -2.75vw;
	text-align: left;
	display: block;
}
.sidebar {
	background-color: black;
	margin-left: 1vw;
	top: 10vw;
	width: 10vw;
	height: 21vw;
	margin-right: 10px;
	font-size: 25px;
	border: solid;
	border-color: green;
	/*border-radius: 25px;*/
	position: fixed;
	text-align: center;
	padding-top: 2vw;
}
.sidebarlink {
	font-size: 2vw;
	color: green;
	border: solid;
	float: top;
	display: block;
	background-color: red;
}
.sidebarlink:link {
	text-decoration: none;
}
.sidebarlink:hover {
	margin: 5px;
}
.face {
	float: right;
	height: 30vw;
	margin-top: 1vw;
	margin-right: 10vw;
}
